*{
margin: 0 ;
padding: 0;
list-style: none;
box-sizing: border-box;
text-decoration: none
}

.exam{
font-weight: 500;
font-size: 50px;

}
.btn:hover{
    background-color: red;
    color: white;
    transition: .5s;

}
.btn{
    border:2px solid rgb(255, 0, 0);padding: 9px 9px 9px 9px;border-radius: 5px;color: red; 
}
.btn-two{
transition: .5s;
}
.text{
font-weight: 500;
font-size: 14px;
line-height: 10px;
}
@media (max-width:700px) {
    .btn-two{
    
    }
    
}